#logo{
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    margin-top:5%;
}

#abouttext{
    font-family: 'Gentium Basic', serif;
    margin-top:18%;
    
}
#btn-submit{
    margin-top:2%;
}

